<div class="row row-app-about-store">

  <div class="col">

    <div class="row">

      <div class="col">

        <img src="http://upload.evocdn.co.uk/fruitnet/uploads/asset_image/2_1204475_e.jpg" />

      </div>

    </div>

    <div class="row">

      <div class="col">

        <h5>About us:</h5>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <div>Our market was founded in 1987 as a virtual store.</div>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <div>Since then, we serve thousands of satisfied customers, Every shipment undergoes a strict quality inspection in order to receive the most fresh and high quality products.</div>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <div>We invite you to register for the site and enjoy a high standard of service and quality of products!</div>

      </div>

    </div>

  </div>

</div>