<div class="row row-app-user">

  <div class="col">

    <div class="row">

      <div class="col">

        <app-search></app-search>

      </div>

    </div>

    <div class="row">

      <div id="minimize-mode"  class="mini-cart">

        <button class="btn-full-mode" (click)="fullMode()"></button>

      </div>

      <div id="full-mode" class="cart">

        <app-cart></app-cart>

      </div>

      <div class="col col-all-products">

        <app-all-products></app-all-products>

      </div>

    </div>

  </div>

</div>