<div class="row card row-app-cart-invoice">

  <div class="col col-app-cart-invoice">

    <div class="row row-btn-back">

      <div class="col">

        My cart <button class="btn btn-info" (click)="backToMarket()">Back to shop</button>

      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col">

        <app-product-invoice *ngFor="let p of allProductForInvioce" [productInvoice]="p"></app-product-invoice>

      </div>

    </div>

    <hr>

    <div class="row row-price">

      <div class="col">

        Total Price: {{totalPriceInvioce}}$

      </div>

    </div>

  </div>

</div>